.App {
  text-align: center;
}

.appBar {
  margin-bottom: 40px;
}

.appBar button {
  margin: 0 20px;
  padding: 0;
  min-height: auto;
}

.appBar a {
  text-decoration: none;
  color: white;
  display: block;
  padding: 5px 20px;
}

.countdown-timer__text {
  font-size: 14px;
  font-weight: 600;
  text-align: center;
}